 
<div class="container">  
        <div class="row">
            <div class="col-sm-9">
                <div class="panel panel-default" id="moviePanel">
                    <div class="panel-heading" id="movie">
                     <strong><p style="font-size:24px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: crimson; background-color: black; color:azure; text-align: center; size:32px; padding: 5px;">Treat yourself with a great movie!</p></strong>   
                    </div>
                    <div class="panel-body"> 
    
                      <h3 style="display:inline;">Select Genre:</h3>
                      <br><br>
                    
                      <select style="height: 40px; width: 200px; padding: 5px; color:rgb(44, 6, 30); font-size:16px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"></select>
                    
                      <br><br>
                    
                      <button id="search" style="background-color: #d28901; border-radius: 5px; color:rgb(5, 1, 7); font-size: 24px; padding:5px">Get Movies!</button>

                      <button id="saveGenre" style="background-color: #0f800c; border-radius: 5px; color:rgb(5, 1, 7); font-size: 24px; padding:5px">Save Genre!</button>
                    
                    
                      <div id="movieList"></div>
                    
        <script>
            var queryURL = "https://api.themoviedb.org/3/genre/movie/list?api_key=3d866c05691ba06f9fa697f8e8c9e838&language=en-US";
      
              $.ajax({
                url: queryURL,
                method: "GET"
              }).done(function(response) {
                var genres = response.genres;
                for (i = 0; i < genres.length; i++) {
      
                    $('select').append(
      
                      "<option value='" + genres[i].id + "'>" + genres[i].name + "</option>"
                    );
                };
                });
      
          
          var queryLimit = 8;
          var today = moment().format('YYYY-MM-DD');
      
        //call movie api
          $('#search').click(function(){
            event.preventDefault();
              $('#movieList').empty();
              var genreId = $('select').val();
      
            var queryURL = "https://api.themoviedb.org/3/discover/movie?api_key=3d866c05691ba06f9fa697f8e8c9e838&language=en-US&region=US&sort_by=release_date.asc&include_video=false&page=1&primary_release_date.gte=" + today + "&with_genres=" + genreId;
      
            $.ajax({
                url: queryURL,
                method: "GET"
              }).done(function(response) {
                var movies = response.results; 
      
                for (i = 0; i < movies.length; i++) {
      
                  var posterURL = "https://image.tmdb.org/t/p/w500/" + movies[i].poster_path;
      
                    $('#movieList').append(
      
                      "<ul style='list-style-type: none'><li>Movie ID: " +
                      movies[i].id + "</li><li>Movie Title: " +
                      movies[i].title + "</li><li>Release Date: " +
                      movies[i].release_date + "</li><li> <img style='width: 300px; height: auto' src='" +
                      posterURL + "'></li><li>Overview:<br>" +
                      movies[i].overview + "</li></ul><hr>"
      
                    );
                };
                });
          });
            

            $("#saveGenre").on("click", function(event){
            event.preventDefault();
            var url = window.location.search;
            var genreId = $('select').val().trim();
            console.log(genreId);
            var genreName = $('option').text().trim();
            var UserId;
            if (url.indexOf("?users_id=") !== -1) {
            UserId = url.split("=")[1];
              return UserId;
            }
            var Movie = {
                genreId: $('select').val().trim(),
                genreName: $('option').text().trim(),
                UserId: UserId
            }

            $.ajax({
                url: "/movie-dinner",
                method: "POST",
                data: Movie
            }).then(function(res){
               res.send();
              });
            });
        </script>    
    
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default" id="dinnerPanel">
                    <div class="panel-heading" id="dinner">
                     <strong><p style="font-size:24px; font-family: cursive;">Choose your dinner to go with movie!</p></strong>   
                    </div>
                    <div class="panel-body">
    
                      <h3 style="display:inline;">Select Recipe:</h3>
                      <br><br>
                    
                      <select style="height: 40px; width: 200px; padding: 5px; color:rgb(44, 6, 30); font-size:20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"></select>
                    
                      <br><br>
                    
                      <button id="search" style="background-color: #d28901; border-radius: 5px; color:darkorchid; font-size: 24px; padding:5px">Get Dinner!</button>
                    
                      <div id="movieList"></div>
                      
    
                    </div>
                </div>
            </div>
