 
<div class="container">  
        
                <div class="panel panel-default" id="moviePanel">
                    <div class="panel-heading" id="movie">
                     <strong><p id="movieP">Treat yourself with a great movie!</p></strong>   
                    </div>
                    <div class="panel-body"> 
    
                      <h3 style="display:inline;">Select Genre:</h3>
                      <br><br>
                    
                      <select id="genList"></select>
                    
                      <br><br>
                    
                      <button class="btn btn-lg" id="search">Get Movies!</button>
                      <button class="btn btn-lg" id="dshbdRtn" onclick="window.location.href='/dashboard'">DashBoard</button>
                      <button class="btn btn-lg" id="saveGenre">Save Genre!</button>
                    
                    
                      <div id="movieList"></div>
                    </div>
                  </div>         
        <script src="/assets/js/movie-dinner.js"></script>>
           

                      
     

         
      <div class="panel panel-default" id="dinnerPanel">
        <div class="panel-heading" id="dinner">
          <strong><p id="dinP">Choose your dinner to go with movie!</p></strong>   
        </div>
        <div class="panel-body">

          
        
          <button class="btn btn-lg" id="dinSrch">Get Dinner!</button>
        
          <div id="dinner.List"></div>
          
      </div>
    </div>
  </div>
