 <div class="mainJumbo" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 id="dmh1" class="display-4">Dinner And A Movie</h1>
    <h4 id="dmh2">Plan your next movie night!</h4>
  </div>
</div>


<div class="container">  
        
                <div class="panel panel-default" id="moviePanel">
                    <div class="panel-heading" id="movie">
                     <strong><p id="movieP">Treat yourself with a great movie!</p></strong>   
                    </div>
                    <div class="panel-body"> 
    
                      <h3 style="display:inline;">Select Genre:</h3>
                      <br><br>
                    
                      <select id="genList"></select>
                    
                      <br><br>
                    
                      <button class="btn btn-lg" id="search"type="button"  data-toggle="modal" data-target="#exampleModalScrollable" >Get Movies!</button>
                      <button class="btn btn-lg" id="dshbdRtn" onclick="window.location.href='/dashboard'">DashBoard</button>
                      <button class="btn btn-lg" id="saveGenre">Save Genre!</button>
                    {{!-- insert movie list back here --}}
                  
                  </div>  
                   {{!-- <div id="movieList"></div> --}}
                      <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="movieList">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
                    </div>

        <script src="/assets/js/movie-dinner.js"></script>
           

                      
     

         
      <div class="panel panel-default" id="dinnerPanel">
        <div class="panel-heading" id="movie">
                     <strong><p id="movieP">Get Ready for Dinner!</p></strong>   
                    </div>
        <div class="panel-body">

            <form id="recipe-form">
                <label for="recipe-input">List your ideal ingredients. Separate with commas.</label> 
                <br>
                <input type="text" id="recipe-input">
                
                <!-- This button will trigger our AJAX call -->
                <input id="find-recipe" type="submit" value="Recipe Search">
          </form>

          <div class="row">
             <div class="col-sm-12">
          <br>
  
              <!-- This card will initially be made up of a card and wells for each of the recipes retrieved -->
              <div class="card">
  
            <!-- card Heading for the retrieved recipes box -->
              <div class="card-header">
                <strong>
                  <i class="fa fa-table"></i> Top Recipes</strong>
              </div>
  
            <!-- This main card will hold each of the resulting recipes -->
            <div class="card-body" id="recipe-view">
            </div>
          </div>
        </div>
  
      </div>
        
          <div id="dinner.List"></div>
          
      </div>
    </div>
  </div>
<script src="/assets/js/movie-dinner.js"></script>