<div class="form">
<label for="displayName">Please enter your email</label>
<input type="text" id="email" class="form-control" name="email" aria-describedby="displayName">
<button type="button" id="submit" class="btn btn-success">Submit</button>
</div>

<script src="/assets/js/send.js"></script>