<div class="container">    
    <div class="jumbotron" id="signUpjbt">
        <h1 class="display-4" id="dmh1">Dinner And A Movie</h1>
            <br>
            <panel>
                <form method="POST" action="/signup">
                        <div class="form-group">
                            <label for="displayName">Display Name</label>
                            <input type="displayName" id="displayName" class="form-control" name="displayName" aria-describedby="displayName">
                            <small id="displayHelp" class="form-text text-muted">What you go by...</small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" id="email" class="form-control" name="email" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="emailVerified">Confirm Email address</label>
                            <input type="email"  class="form-control" name="emailVerified" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="pswd">Password</label>
                            <input type="password" id="pswd" class="form-control" name="pswd">
                        </div>
                        <button type="submit" id="submit" class="btn btn-lg btn-primary">Submit</button>
                    </form>
            </panel>
    </div>
</div>
