

  body{
      background-image: url("../images/moviephoto.jpg");
      background-size:100vw 100vh;
    }

  /* Login style */

  #loginPage {
    margin-top: 20px;
    padding: 0px;
    box-shadow: 10px 25px 18px red
  }

  .mainJumbo{
    background-color: #8723af;
    margin: 30px;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 18px red
  }
  .dmh1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
  }

  #dmh2 {
    font-family: 'Lobster', cursive;
    font-size: 25px;
  }

  .dmp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

  }

  .lead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
  }

  label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }

  #emailHelp {
    font-weight: bold;
    font-size: 90%;
  }

  #enroll, #login, #pswdReset, #emailUpdate {
    background-color: #490E63;
    color: #F4EEDD;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
      }
  /* SignUp Style */

  #signUpjbt {
    margin-top: 20px;

  }

  #dmh1 {
    font-family: 'Lobster', cursive;
    font-size: 75px;
  }

  #submit {
    background-color: #490E63;
    color: #F4EEDD;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

  #displayHelp {
    font-weight: bold;
    font-size: 90%;
  }

  /* Dashboard styling */


  #dashbrdjbt {
    margin-top: 20px;
  }

  #dmh1DB {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    text-align: center;
  }

  #favListGreet {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
  }

  #favListMovie {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  #dshSubmit {
    background-color: #490E63;
    color: #F4EEDD;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 25px;
  }

  /* Movie-Dinner Page styling */
  #moviePanel{
    width: 80%;
    text-align: center;
    background: rgb(248, 246, 241);
    box-shadow: 10px 25px 18px rgb(233, 224, 224);
    margin-left: 100px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .movie {
    margin-top: 30px;
    background-color: rgb(17, 14, 14);
    color: #F4EEDD;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #movieList{
    margin-top: 20px;
    border-top: 2px solid black;
    color:black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  #movieP {
    font-size:24px; 
    font-family: 'Lobster', cursive; 
    background-color: black; 
    color:azure; 
    text-align: center; size:32px; 
    padding: 5px;
  } 

  #genList {
    height: 40px; 
    width: 200px; 
    padding: 5px; 
    color:rgb(44, 6, 30); 
    font-size:16px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #search {
    background-color: #490E63;
    border-radius: 5px; 
    color: #F4EEDD;
    font-size: 24px; 
    padding: 5px;
    float: left;
  }

  #dshbdRtn{
    background-color: #490E63;
    border-radius: 5px; 
    color: #F4EEDD;
    font-size: 24px; 
    padding: 5px;
    text-align: center;
  }

  #saveGenre {
    background-color: #490E63;
    /* background-color: #0f800c;  */
    border-radius: 5px;
    color:  #F4EEDD;
    /* color:rgb(5, 1, 7);  */
    font-size: 24px; 
    padding:5px;
    float: right;
  }

  #dinP {
    font-size:24px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  li {
    margin-top: 15px;
  }

  /* Styling for dinner section */
  #image{
    height: 180px;
    width: 210px;
    box-shadow: 5px 10px 8px #8723af
 }
 
 #find-recipe{
      background-color: #490E63;
      border-radius: 5px; 
      color: #F4EEDD;
      font-size: 20px; 
     margin-top: 5px;
     margin-right: 20px;
     margin-bottom: 5px;
     margin-left: 10px;
     padding: 5px;
 }

 h2:hover{
    color: rgb(63, 38, 206);
 }

 #dinnerPanel{
  width: 80%;
  background-color: rgb(248, 246, 241);
  box-shadow: 10px 25px 18px rgb(160, 99, 201);
  margin-left: 100px;
  text-align: center;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
