

body{
    background-image: url("../images/film.jpg");
    background-size:100vw 100vh;
  }

/* Login style */

#loginPage {
  margin-top: 20px;
}

.dmh1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

.dmp {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;

}

.lead{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

#enroll, #login, #pswdReset, #emailUpdate {
  background-color: #490E63;
  color: #F4EEDD;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
     }
  
  #moviePanel{
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .movie {
    margin-top: 30px;
    background-color:rgb(17, 14, 14);
    color:white;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #movieList{
    margin-top: 20px;
    border-top: 2px solid black;
    color:black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  li{
    margin-top: 15px;
    border-top: 1px dotted black;
  }
  
